{% extends "header.twig" %}

{% block content %}
</br>
<h1 class="title">Recherche de pathologie par mot-clé</h1>
<div class="card">



    <form method="POST" action="/pathology/keywords">
        <input type="search" name="search" placeholder="Recherche..." />
        <button type="submit">Valider</button>
    </form>
{{ session }}
    {% if search is defined and search is not empty %}
        {% if lines %}
            {% for line in lines %}
                <ul>
                    <li>
                        {{ line.desc }}
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>Aucun résultat pour le mot clé saisi.</p>
        {% endif %}
    {% else %}
        <p>Veuillez saisir un mot clé.</p>
    {% endif %}

    {% if totalPage > 0 %}
        {% for i in 1..totalPage %}
            <a href="index.php?page=keywords&pagination={{ i }}&search={{ search }}">{{ i }}</a>
        {% endfor %}
    {% endif %}
    
    
</div>
{% endblock %}