{% extends "header.twig" %}

{% block content %}
</br>
<h1 class="title">Recherche Pathologie</h1>
<div class="card">
    <form method="POST" action="/pathology/search">
        <div class="float-container">

            <div class="float-child">
                <div class="row">
                    <div class="col-4">
                        {% if somePathologies %}
                            {% for pathology in somePathologies %}
                                <div class="list-group" id="list-tab" role="tablist">
                                    <input name="pathology" id="pathology" type="submit" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab" aria-controls="home" value="{{ pathology.desc }}">
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% for i in 1..totalPages %}
                            <a href="/pathology/search?page=recherchePathologie&pagination={{ i }}">{{ i }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="float-child">
                {% if symptoms %}
                    {% if pathology is defined %}
                        <strong>{{ pathology }}</strong>
                    {% endif %}
                    
                    {% for symptom in symptoms %}
                        <ul>
                            <li>
                                {{ symptom.desc }}
                            </li>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p>Aucun symptôme n'a été trouvé par la pathologie sélectionnée</p>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}